.nav-container {
  width: 100%;
  height: 45px;
  padding:3px 20px;
  display: flex;
  border-bottom:1px solid grey;
  justify-content: space-between;
}

.nav-container img {
  width: 35px;
  height: 35px;
}

.nav-container .logo-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  text-decoration: none;
}

.nav-items {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: black;
  font-size: 15px;
}
