.Rocket{
    padding:6px;
}

.outer-container{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.rocket-container{
    display:flex;
    gap:6px;
}

.rocket-image{
    width:120px;
    height:120px;
}
.rocket-info{
    font-size: 12px;
}
.reserved{
    color:white;
    background-color: rgb(24, 162, 184);
    height:20px;
    padding:4px 7px;
    display: flex;
    align-items: center;
    border:1px solid rgb(24, 162, 184);
    border-radius: 6px;
}

.book-reserve{
    background: rgb(0, 123, 255);
    border: 1px solid rgb(0, 123, 255);
    padding:5px 7px;
    border-radius:3px;
    color:white
}
.cancel-reserve{
    color: rgb(147, 152, 159);
    border:1px solid rgb(147, 152, 159);
    padding:4px 7px;
    border-radius:3px;
}