.mission-table th {
  padding-top: 12px;
  font-size: 14px;
  padding-bottom: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.mission-table th:nth-child(2) {
  width: 65%;
}

.mission-table {
  border-collapse: collapse;
  width: 95%;
  margin: auto;
  table-layout: fixed;
}

.mission-table td {
  border: 1px solid #ddd;
  padding: 6px;
  font-size: 13px;
}

.mission-table p {
  display: flex;
  justify-content: center;
}

.mission-table .center p,
button {
  margin: 30px 6px;
}

.mission-table tbody tr {
  background-color: #fff !important;
}

.mission-table tbody tr:nth-child(even) {
  background-color: #f2f2f288;
}

.mission-table tbody tr:hover {
  background-color: rgba(221, 221, 221, 0.431);
}

.mission-table button {
  padding: 2px 0;
  width: 96px;
}

.mission-button-join {
  color: rgba(128, 128, 128, 0.992);
  border: 1px solid grey;
  border-radius: 4px;
}

.mission-button-leave {
  color: red;
  border: 1px solid red;
  border-radius: 4px;
}

.mission-status-not-active {
  background-color: rgb(109, 117, 125) !important;
  border: 1px solid rgb(109, 117, 125) !important;
}

.mission-status-active,
.mission-status-not-active {
  background-color: #18a2b8;
  font-size: 10px;
  color: white;
  border: 1px solid #18a2b8;
  border-radius: 4px;
}
