.mission-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.mission-table th:nth-child(2) {
  width: 65%;
}

.mission-table {
  border-collapse: collapse;
  width: 95%;
  margin: auto;
  table-layout: fixed;
}

td {
  font-size: 12px;
}

.mission-table td {
  border: 1px solid #ddd;
  padding: 6px;
}

.mission-table tbody tr {
  background-color: #fff !important;
}

.mission-table tbody tr:nth-child(even) {
  background-color: #f2f2f288;
}

.mission-table tbody tr:hover {
  background-color: rgba(221, 221, 221, 0.431);
}

button {
  padding: 2px 6px;
}

.mission-button-join {
  color: rgba(128, 128, 128, 0.992);
  border: 1px solid grey;
}

.mission-button-leave {
  color: red;
  border: 1px solid red;
}

.mission-status-active {
  background-color: #18a2b8;
  color:white;
  padding:4px 8px;
  border: 1px solid #18a2b8;
  border-radius: 4px;
}